// Mixins in here
/*When you see a pattern, when you are reusing the same code over and over that's a good indication to create a mixin*/

.flex(@direction, @justify, @align){
  display:flex;
  flex-direction:@direction;
  justify-content:@justify;
  align-items:@align;
}

.fonts(@size, @fam){
  font-size:@size;
  font-family:@fam;
}
/*place holder values are called parameters - values that we are passing in when the mixin is called are referred to as arguments*/